header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 20;
  animation-duration: 4s;
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.mover{
  position: absolute;
  z-index: 10;
}

header .logo{
  width: 200px;
  padding: 10px;
}

header .logo img{
  width: 100%;
}

#menu{
  position: absolute;
  color: white;
  right: 150px;
}

#menu ul{
  
}

#menu li{
  display: inline;
  margin: 5px;
}

#menu li:hover{
  color: #a2d686;
  cursor: pointer;
}

#burger{
  display: none;
  color: white;
}

#burger:hover{
  opacity: .8;
}

.text-header{
  position: absolute;
  top: 220px;
  width: 100%;
  color: white;
  font-size: 50px;
}

.center-menu{
  margin-left: 100px;
  margin-right: 100px;
}

.bg{
  position: fixed;
  width: 100%;
  z-index: 0;
}

.bg img{
  height: 100%;
  width: 100%;
}

@media all and (max-width: 780px) {
  #burger{
    display: inline-block;
  }
  
  
  #menu li{
    display: block;
    padding: 10px;
    background: red;
  }
}