@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body{
  font-family: "Lato"
}

.left{
  text-align: left !important;
}

.center{
  text-align: center!important;
}

.right{
  text-align: right!important;
}

.justify{
  text-align: justify!important;
}

.icon{
  color: #0062ad;
}

.thin{
  font-weight: 100;
}

.light{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.bold{
  font-weight: 700;
}